<app-header></app-header>
<div class="col-sm-3 container-menu">
    <div class="col-category">
        <div class="atras-content">
            <a href="/home">
                <img src="../../../assets/img/flecha-atras.png" alt=""  style="width: 70px;">
                Atras 
             </a>
        </div>
        <div class="category-faq-menu" *ngFor="let menu of optionMenu; let indice = index">
            <div class="container-accordion" (click)="selectionSection(indice)">
                <div class="faq-menu-items">
                     <p>{{menu.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-8 container-empleados">
    <div class="text-center title-section" *ngIf="checkTitle && !loaderSpinner">
        <h1>Pedido</h1>
    </div>
    <div class="container-spinner" *ngIf="loaderSpinner">
        <div class="spinner"></div>
    </div>
    
   <div [ngClass]="{'registro-block' : selected == 0, 'registro-none' : selected != 0}">
        <h1>Registro de pedidos</h1>
        <form id="registrar">
            <div>
                <label for="start">Fecha de pedido</label>
                <input  
                    (change)="capturaFechaPedido($event)"
                    type="date" 
                    id="start" 
                    name="trip-start"
                    value=""
                    min="2021-01-01" max="2023-12-31">
            </div>
            <div>
                <label for="start">Fecha de entrega</label>
                <input 
                    type="date" 
                    id="start" 
                    name="trip-start"
                    value=""
                    min="1990-01-01" max="2023-12-31"
                    (change)="capturaFechaEntrega($event)">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Descripcion pedido</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="docEmpleado" 
                    placeholder="Descripicion"
                    (keyup)="capturaDescripcionPedido($event)">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Cantidad</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="cargoEmpleado" 
                    placeholder="Catidad"
                    (keyup)="capturaCantidad($event)">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Valor por unidad</label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="correoEmpleado" 
                    placeholder="Valor"
                    (keyup)="capturaValorPorUnidad($event)">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Valor total</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="exampleFormControlInput1" 
                    placeholder="Telefono"
                    [value]="valorTotal"
                    >
            </div>
        </form>
        <div *ngIf="addPedido">
            <button 
                type="button" 
                class="btn btn-primary" 
                (click)="agregateCliente()">Añadir cliente</button>
        </div>
        <div>
            <section *ngIf="tableListPedido" style="margin-top: 30px;">
                <table class="table col-sm-8">
                    <thead>
                      <tr>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Cedula</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let cliente of listaCliente; index as i">
                      <tr>
                        <td>{{cliente.nombres}}</td>
                        <td>{{cliente.apellidos}}</td>
                        <td>{{cliente.numeroDocumento}}</td>
                        <button 
                            type="button"
                            class="btn btn-secondary" 
                            (click)="addCliente(cliente)">Añadir</button>
                      </tr>
                    </tbody>
                  </table>
            </section>
        </div>
        <div *ngIf="botonRegistro">
            <button type="button" class="btn btn-primary" (click)="savePedido()">Registrar</button>
        </div>
   </div>

   <div [ngClass]="{'registro-block' : selected == 1, 'registro-none' : selected != 1}">
        <h1>Listar Pedidos</h1>
        <button type="button" class="btn btn-primary" (click)="listaPedidos()">Listar</button>
        <div class="container-spinner" *ngIf="loaderSpinnerList">
            <div class="spinner"></div>
        </div>
        <section *ngIf="tableListPedidos" style="margin-top: 30px;">
            <table class="table col-sm-12">
                <thead>
                    <tr>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Fecha de pedido</th>
                    <th scope="col">Fecha de entrega</th>
                    <th scope="col">Catidad</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Valor por unidad</th>
                    <th scope="col">Valor total</th>
                    <th scope="col">Nombre del cliente</th>
                    </tr>
                </thead>
                <tbody *ngFor="let pedidos of listAllPedidos; index as i">
                    <tr>
                    <td>{{pedidos.descripcion}}</td>
                    <td>{{pedidos.fechaPedido}}</td>
                    <td>{{pedidos.fechaEntrega}}</td>
                    <td>{{pedidos.cantidad}}</td>
                    <td class="pendiente" *ngIf="!pedidos.estado">Pendiente</td>
                    <td class="activo" *ngIf="pedidos.estado">Proceso</td>
                    <td>{{pedidos.valorUnidad}}</td>
                    <td>{{pedidos.valorTotal}}</td>
                    <td>{{pedidos.cliente[0].nombres}}</td>
                    <button type="button" class="btn btn-warning" (click)="editPedido(pedidos)">Editar</button>
                    </tr>
                </tbody>
                </table>
        </section>
        <div [ngClass]="{'registro-block' : editPedidoSelected, 'registro-none' : !editPedidoSelected}" style="margin-top: 32px;">
            <h1>Editar pedido</h1>
            <div>
                <p>Seleccione el campo que desea modificar</p>
            </div>
            <div>
                <button 
                    type="button" 
                    class="btn btn-primary" 
                    (click)="activarUpdateDescripcion()">Descripcion</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateFechaPedido()"
                    style="margin: 10px;">Fecha pedido</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateFechaEntrega()"
                    style="margin: 10px;">Fecha entrega</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateValorTotal()"
                    style="margin: 10px;">Valor total</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateValorUnidad()"
                    style="margin: 10px;">Valor por unidad</button>
                <form id="editar" *ngFor="let pedido of pedidoEdit; index as i">
                    <div *ngIf="campoUpdateDescripcion" >
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="exampleFormControlInput1" 
                            placeholder="Descripcion" 
                            value="{{pedido.descripcion}}" 
                            (keyup)="capturaDescripcionPedido($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(pedido)">Guardar</button>
                    </div>
                    <div *ngIf="campoUpdateFechaPedido">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Fecha pedido</label>
                            <input 
                            type="date" 
                            id="start" 
                            name="trip-start"
                            value="{{pedido.fechaPedido}}"
                            min="1990-01-01" max="2023-12-31"
                            (change)="capturaFechaPedido($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(pedido)">Guardar</button>
                    </div>
                    <div *ngIf="campoUpdateFechaEntrega">
                        <div class="mb-3" >
                            <label for="exampleFormControlInput1" class="form-label">Fecha entrega</label>
                            <input 
                            type="date" 
                            id="start" 
                            name="trip-start"
                            value="{{pedido.fechaEntrega}}"
                            min="1990-01-01" max="2023-12-31"
                            (change)="capturaFechaEntrega($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(pedido)">Guardar</button>
                    </div>
                   <div *ngIf="campoUpdateValorTotal">
                    <div class="mb-3" >
                        <label for="exampleFormControlInput1" class="form-label">Valor total</label>
                        <input 
                        type="email" 
                        class="form-control" 
                        id="exampleFormControlInput1" 
                        placeholder="Valor total"
                        value="{{pedido.valorTotal}}"
                        (keyup)="capturaValorTotal($event)">
                    </div>
                    <button type="button" class="btn btn-success" (click)="guardarEditado(pedido)">Guardar</button>
                   </div>
                    <div *ngIf="campoUpdateValorUnidad">
                        <div class="mb-3" >
                            <label for="exampleFormControlInput1" class="form-label">Valor por unidad</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="exampleFormControlInput1" 
                            placeholder="Correo"
                            value="{{pedido.valorUnidad}}"
                            (keyup)="capturaVVUnidad($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(pedido)">Guardar</button>
                    </div>
                </form>
            </div>         
       </div>
   </div>

   <div [ngClass]="{'registro-block' : selected == 2, 'registro-none' : selected != 2}">
        <h1>Buscar pedidos</h1>
        <div class="container-spinner" *ngIf="loaderSpinnerList">
            <div class="spinner"></div>
        </div>
        <div>
            <p>Seleccione como desea buscar el pedido</p>
            <button 
                type="button" 
                class="btn btn-primary" 
                (click)="activarBuscarPorFechaPedido(true, false, false)">Por fecha de pedido</button>
            <button 
                type="button" 
                class="btn btn-primary botn-name" 
                (click)="activarBuscarPorFechaEntrega(false, true, false)"
                style="margin: 10px;">Por fecha de entrega</button>
            <button 
                type="button" 
                class="btn btn-primary botn-name" 
                (click)="activarBuscarPorDescripcion(false, false, true)"
                style="margin: 10px;">Por descripcion</button>
        </div>
        <form id="buscar" *ngIf="ocultarBuscarPorFechaPedido">
            <div class="mb-3" style="margin-top: 10px;">
                <label for="exampleFormControlInput1" class="form-label">Fecha pedido</label>
                <input  
                    (change)="capturaFechaPedido($event)"
                    type="date" 
                    id="start" 
                    name="trip-start"
                    value=""
                    min="2021-01-01" max="2023-12-31">
                <button 
                    type="button" 
                    class="btn btn-primary" 
                    (click)="buscadorPedido()"
                    style="margin: 8px;">Buscar</button>
            </div>   
        </form> 
        <form id="buscar" *ngIf="ocultarBuscarPorFechaEntrega">
            <div class="mb-3">  
                <label for="exampleFormControlInput1" class="form-label">Fecha entrega</label>
                <input 
                    type="date" 
                    id="start" 
                    name="trip-start"
                    value=""
                    min="1990-01-01" max="2023-12-31"
                    (change)="capturaFechaEntrega($event)">
                <button type="button" class="btn btn-primary" (click)="buscadorPedido()">Buscar</button>
            </div>
        </form>
        <form id="buscar" *ngIf="ocultarBuscarPorDescripcion">
            <div class="mb-3">  
                <label for="exampleFormControlInput1" class="form-label">Descripcion del pedido</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="docEmpleado" 
                    placeholder="Descripicion"
                    (keyup)="capturaDescripcionPedido($event)">
                <button type="button" class="btn btn-primary" (click)="buscadorPedido()">Buscar</button>
            </div>
        </form>
        <section *ngIf="tableDeleteProduct" style="margin-top: 30px;">
            <table class="table col-sm-12">
                <thead>
                    <tr>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Fecha de pedido</th>
                        <th scope="col">Fecha de entrega</th>
                        <th scope="col">Catidad</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Valor por unidad</th>
                        <th scope="col">Valor total</th>
                        <th scope="col">Nombre del cliente</th>
                    </tr>
                </thead>
                <tbody *ngFor="let pedidos of resultPedidoBuscado; index as i">
                    <tr>
                        <td>{{pedidos.descripcion}}</td>
                        <td>{{pedidos.fechaPedido}}</td>
                        <td>{{pedidos.fechaEntrega}}</td>
                        <td>{{pedidos.cantidad}}</td>
                        <td class="pendiente" *ngIf="!pedidos.estado">Pendiente</td>
                        <td class="activo" *ngIf="pedidos.estado">Proceso</td>
                        <td>{{pedidos.valorUnidad}}</td>
                        <td>{{pedidos.valorTotal}}</td>
                        <td>{{pedidos.cliente[0].nombres}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
   </div>
</div>
<app-footer></app-footer>
