.container-menu{
    margin-top: 250px;
    margin-left: -25px;
    margin-bottom: 80px;
    display: inline-block;
    vertical-align: top;
}

.category-faq-menu .container-accordion {
    padding: 0 10px;
    text-align: left;
}

.atras-content{
    margin-top: -37px;
    margin-left: 23px;
    margin-bottom: 22px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.category-faq-menu .faq-menu-items {
    background: #3c3c3c;
    padding: 15px 10px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.category-faq-menu .faq-menu-items p {
    color: #fff;
}

.category-faq-menu .faq-menu-items:hover {
    background: #0a8489;
}

.container-empleados{
    display: inline-block;
    width: 75%;
    text-align: left;
    margin-top: 241px;
    margin-bottom: 50px;
}

.title-section{
    opacity: 0.2;
}

.spinner {
    border: 10px solid rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    opacity: 1.4;
}
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.registro-none{
    display: none;
}

.registro-block{
    display: block;
}

.container-spinner{
    margin-left: 793px;
    margin-top: 80px;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.container-rporte{
    margin-top: -161px;
    margin-left: 465px;
}

.encabezado-reporte{
    width: 200px;
    padding: 8px;
    background: #0a8489;
    border-bottom: 1px solid #fff;
    color: black;
    text-align: center;
}

.buton-detalle{
    text-align: center;
    display: block;
}

.registro-block{
    display: none;
}

.detail-producto{
    width: 200px;
    padding: 8px;     
    background: #81c7cc; 
    border-bottom: 1px solid #fff; 
    color: black; 
    text-align: center;
}

.section-ingreso{
    width: 174px;
    padding: 8px;  
    background: #9bebaf;    
    border-bottom: 5px solid #fff;
    color: black;    
    border-top: 1px solid transparent;
    text-align: center;
}

.section-ingreso-datail{
    width: 174px;
    padding: 8px;  
    background: #c8f1d3;    
    border-bottom: 5px solid #fff;
    color: black;    
    border-top: 1px solid transparent;
    text-align: center;
}

.section-egreso{
    width: 174px;
    padding: 8px;       
    background: #eb9c91;    
    border-bottom: 5px solid #fff;
    color: black;    
    border-top: 1px solid transparent;
    text-align: center;
}

.section-egreso-detail{
    width: 174px;
    padding: 8px;       
    background: #e9cbc8;    
    border-bottom: 5px solid #fff;
    color: black;    
    border-top: 1px solid transparent;
    text-align: center;
}

.contenido-report{
    width: 200px;
    padding: 8px;     
    background: #c5cef0;    
    border-bottom: 5px solid #fff;
    color: black;    
    border-top: 1px solid transparent; 
    text-align: center;
}

.contenido-product{
    width: 174px;
    padding: 8px;     
    background: transparent;    
    border-bottom: 5px solid #fff;
    color: black;    
    border-top: 1px solid transparent; 
    text-align: center;
}

table {
    margin: 25px;
    text-align: left;
    border-collapse: collapse;
}


.linea-pedido{
    padding: 8px;     
    background: #00bac6; 
    border-bottom: 1px solid #fff; 
    color: black; 
}

.caption-initial{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: center;
    caption-side: top;
}

.caption-medio{
    color: #6c757d;
    text-align: center;
    caption-side: top;
}

tr:hover td { 
    background: #d0dafd; 
    color: #0a8489; 
}

.button-valid{
    text-align: center;
    margin-top: -10px;
}

.fecha-inicio{
    position: absolute;
    margin-left: 79px;
}

.ver-center{
    text-align: center;
}

.cursor{
    cursor: pointer;
}

.boton-repot{
    text-align: center;
}
