<app-header></app-header>
<div class="col-sm-3 container-menu">
    <div class="col-category">
        <div class="atras-content">
            <a href="/home">
                <img src="../../../assets/img/flecha-atras.png" alt=""  style="width: 70px;">
                Atras 
             </a>
        </div>  
    </div>
</div>}

<section style="margin-bottom: 233px;">
    <section class="container-rporte">
        <div class="">
            <h2>Por favor seleccione la fecha para realizar el reporte</h2>
        </div>
        <div class="fecha-inicio">
            <p>Fecha inicio reporte</p>
            <input  
                (change)="capturaFechaReporteInicio($event)"
                type="date" 
                id="start" 
                name="trip-start"
                value=""
                min="1990-01-01" max="2023-12-31">
        </div>
        <div style="margin-left: 493px;">
            <p>Fecha fin reporte</p>
            <input  
                (change)="capturaFechaReporte($event)"
                type="date" 
                id="start" 
                name="trip-start"
                value=""
                min="1990-01-01" max="2023-12-31">
        </div>
    </section>

    <div class="container-spinner" *ngIf="loaderSpinner">
        <div class="spinner"></div>
    </div>
    
    <section class="container-reporte" style="margin: 64px 0px;" *ngIf="bannerProducto">
        <div class="col-sm-12">
            <table>
                <caption class="caption-initial">
                    Resultado del reporte pedidos y productos
                </caption>
                <tr> 
                    <th class="encabezado-reporte">Tipo pedido</th> 
                    <th class="encabezado-reporte">Fecha pedido</th> 
                    <th class="encabezado-reporte">Fecha entrega</th>
                    <th class="encabezado-reporte">Cantidad pedido</th>
                    <th class="encabezado-reporte">Estado</th> 
                    <th class="encabezado-reporte">Cliente</th>
                    <th class="encabezado-reporte">Valor por unidad</th>
                    <th class="encabezado-reporte">Ingreso</th>
                    <th class="encabezado-reporte">Egreso</th>
                    <th class="encabezado-reporte">Ganancia</th>
                </tr>
            </table>
    
            <table *ngFor="let pedido of filterPedidos; let indice = index">
                <tr> 
                    <td class="contenido-report">
                        {{pedido.descripcion}}
                    </td> 
                    <td class="contenido-report">
                        {{pedido.fechaPedido}}
                    </td> 
                    <td class="contenido-report">
                        {{pedido.fechaEntrega}}
                    </td>
                    <td class="contenido-report">
                        {{pedido.cantidad}}
                    </td>
                    <td class="section-ingreso" *ngIf="pedido.estado">
                        Entregado
                    </td>
                    <td class="section-egreso" *ngIf="!pedido.estado">
                        Pendiente
                    </td> 
                    <td class="contenido-report">
                        {{pedido.cliente[0].nombres}}
                    </td>
                    <td class="contenido-report">
                        {{pedido.valorUnidad | number}} 
                        <strong>$</strong>
                    </td> 
                    <td class="section-ingreso">
                        {{pedido.valorTotal | number}} 
                        <strong>$</strong>
                    </td>
                    <td class="section-egreso">
                        {{pedido.sumaEgresos | number}}
                        <strong>$</strong>
                    </td>
                    <td class="contenido-report">
                        {{(pedido.valorTotal) - (pedido.sumaEgresos) | number}}
                        <strong>$</strong>
                    </td>
                </tr>
    
                <tr> 
                    <th class="detail-producto">Nombre producto</th> 
                    <th class="detail-producto">Descripcion</th> 
                    <th class="detail-producto">Fecha de la compra</th> 
                    <th class="detail-producto">Cantidad en stock</th>
                    <th class="detail-producto">Cantidad venta pedido</th> 
                    <th class="detail-producto">Costo por unidad</th>
                    <th class="detail-producto">Venta por unidad</th>
                    <th class="detail-producto">Ingreso</th>
                    <th class="detail-producto">Egreso</th>
                    <th class="detail-producto">Ganancia</th>
                </tr>
                
                <tr *ngFor="let producto of pedido.productos"> 
                    <td class="contenido-product">
                        {{producto.producto[0].nombre}}
                    </td> 
                    <td class="contenido-product">
                        {{producto.producto[0].descripcion}}
                    </td>
                    <td class="contenido-product">
                        {{producto.producto[0].fechaCompra}}
                    </td>
                    <td class="contenido-product">
                        {{producto.producto[0].cantidad}}
                    </td>
                    <td class="contenido-product">
                        {{producto.cantProducto}}
                    </td> 
                    <td class="contenido-product">
                        {{producto.producto[0].vUnidadCosto | number}} 
                        <strong>$</strong>
                    </td>
                    <td class="contenido-product">
                        {{producto.producto[0].vUnidadVenta | number}}
                        <strong>$</strong>
                    </td> 
                    <td class="section-ingreso-datail">
                        {{(producto.cantProducto) * (producto.producto[0].vUnidadVenta) | number}}
                        <strong>$</strong>
                    </td>
                    <td class="section-egreso-detail">
                        {{(producto.cantProducto) * (producto.producto[0].vUnidadCosto) | number}}
                        <strong>$</strong>
                    </td>
                    <td class="contenido-product">
                        {{(producto.cantProducto) * (producto.producto[0].vUnidadVenta)
                        - (producto.cantProducto) * (producto.producto[0].vUnidadCosto) | number}}
                        <strong>$</strong>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    
    <div class="ver-center" *ngIf="bannerProducto">
        <p>Click para ver el reporte empelado nomina</p>
        <img class="cursor" src="../../../assets/img/lupita.png" alt="" (click)="selectEmpleado()">
    </div>

    <div class="container-spinner" *ngIf="loaderSpinnerDos">
        <div class="spinner"></div>
    </div>
    
    <section class="container-reporte" style="margin: 64px 0px;" *ngIf="verDetalleEmpelado">
        <div class="col-sm-12">
            <table >
                <caption class="caption-initial">
                    Resultado del reporte nomina
                </caption>
                <tr> 
                    <th class="encabezado-reporte">Nombres empleado</th> 
                    <th class="encabezado-reporte">Apellidos</th> 
                    <th class="encabezado-reporte">Fecha contrato</th>
                    <th class="encabezado-reporte">Cargo</th> 
                    <th class="encabezado-reporte">Estado</th>
                    <th class="encabezado-reporte">Tipo nomina</th>
                    <th class="encabezado-reporte">Ingreso</th>
                    <th class="encabezado-reporte">Egreso</th>
                </tr>
                <tr *ngFor="let empleado of filterEmpleadosActivos"> 
                    <td class="contenido-report">{{empleado.nombres}}</td> 
                    <td class="contenido-report">{{empleado.apellidos}}</td> 
                    <td class="contenido-report">{{empleado.fechaContrato}}</td>
                    <td class="contenido-report">{{empleado.cargo}}</td> 
                    <td class="section-ingreso" *ngIf="empleado.estado">Activo</td>
                    <td class="contenido-report">
                        {{empleado.nomina[0].nombre}}
                    </td> 
                    <td class="section-ingreso">-</td>
                    <td class="section-egreso">
                        {{empleado.nomina[0].totalPagar | number}}
                        <strong>$</strong>
                    </td>
                </tr>
            </table>
        </div>

        <div class="boton-repot">
            <button 
                type="button" 
                class="btn btn-success" 
                style="margin: 65px;"
                (click)="sumaEngreso()"
                >
                Ver total de egreso
            </button>
            <button 
                type="button" 
                class="btn btn-success" 
                style="margin: 65px;"
                (click)="sumaIngreso()"
                >
                Ver total de ingreso
            </button>
        </div>
        <div *ngFor="let reporte of totalEngresos">
            <div class="boton-repot" *ngIf="activeSumaEngreso">
                <h2>
                    <span> Total gastado es </span>
                    <strong>{{reporte.totalEgreso | number}} $ </strong>
                    <span>para un porcentaje de </span>
                    <strong>{{reporte.porcentajeEgreso}} %</strong>
                </h2>
            </div>
    
            <div class="boton-repot" *ngIf="activeSumaIngreso">
                <h2>
                    <span> Total ingreso es </span>
                    <strong>{{reporte.totalIngreso | number}} $ </strong>
                    <span>para un porcentaje de </span>
                    <strong>{{reporte.porcentajeIngreso}} % </strong>
                </h2>
            </div>
        </div>
    </section>
</section>
<app-footer></app-footer>
