<section class="footer-solutions nav-footer">
    <div class="container-footer">
        <div class="col-sm-6 text-footer d-inline-block">
            <p><strong><i>“Detrás del éxito hay una empresa bien organizada" Solutions CCC</i></strong></p>
        </div>
        <div class="col-sm-6 d-inline-block social-media-footer">
            <h2>Contáctanos</h2>
            <p><strong>Correo:</strong> solutionsccc@gmail.com</p>
            <p><strong>Teléfono: +57</strong>3002345678</p>
            <a href="https://es-la.facebook.com/" target="_blank">
                <img src="../../../assets/img/solutions-facebook.webp" alt="">
            </a>
            <a href="https://www.instagram.com/?hl=es" target="_blank">
                <img src="../../../assets/img/solutions-instagram.webp" alt="">
            </a>
        </div>
    </div>
</section>
