.footer-solutions{
    background-color: #00bac6;
    padding: 1.85714rem 0;
    position: relative;
    justify-content: space-between;
    border-top: 2px solid #fff;
    width: 100%;
}

.footer-solutions p{
    color: #3c3c3c;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

.footer-solutions .social-media-footer {
   text-align: center;
}

.footer-solutions .social-media-footer img{
    margin: 10px;  
}

.footer-solutions .social-media-footer p{
    line-height: 0.2rem;
    color: #3c3c3c;
}

.footer-solutions .social-media-footer h2{
    color: #3c3c3c;
}
