<app-header></app-header>
<div class="col-sm-3 container-menu">
    <div class="col-category">
        <div class="atras-content">
            <a href="/home">
                <img src="../../../assets/img/flecha-atras.png" alt=""  style="width: 70px;">
                Atras 
             </a>
        </div>
        <div class="category-faq-menu" *ngFor="let menu of optionMenu; let indice = index">
            <div class="container-accordion" (click)="selectionSection(indice)">
                <div class="faq-menu-items">
                     <p>{{menu.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12 container-empleados">
    <div class="text-center title-section" *ngIf="checkTitle && !loaderSpinner">
        <h1>Nomina</h1>
    </div>
    <div class="container-spinner" *ngIf="loaderSpinner">
        <div class="spinner"></div>
    </div>
    
    <div [ngClass]="{'registro-block' : selected == 0, 'registro-none' : selected != 0}">
        <h1>Registro de nomina</h1>
        <form id="registro">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre de la nomina</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="Nombre" 
                    placeholder="Nombre"
                    (keyup)="capturaNombreNomina($event)">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Salario</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="Salario" 
                    placeholder="Salario"
                    (keyup)="capturaSalario($event)">
            </div>
            <button type="button" class="btn btn-primary" (click)="saveNomina()">Registrar</button>
        </form>
    </div>
    <!--Listar y Editar-->
    <div [ngClass]="{'registro-block' : selected == 1, 'registro-none' : selected != 1}">
        <h1>Listar Nómina</h1>
        <button type="button" class="btn btn-primary" (click)="listaNominaM()">Listar</button>
        <div class="container-spinner" *ngIf="loaderSpinnerList">
            <div class="spinner"></div>
        </div>
        <section *ngIf="tableListNomina" style="margin-top: 30px;">
            <table class="table col-sm-12">
                <thead>
                    <tr>
                        <th scope="col">Nombre Nómina</th>
                        <th scope="col">Salario</th>
                    </tr>
                </thead>
                <tbody *ngFor="let nomina of listaNomina; index as i">
                    <tr>
                        <td>{{nomina.nombre}}</td>
                        <td>{{nomina.totalPagar | number}} <span>$</span></td>
                        <button 
                            type="button" 
                            class="btn btn-warning" 
                            (click)="updateCliente(nomina.idNomina, nomina)">Editar</button>
                    </tr>
                </tbody>
            </table>
        </section>
        <!--Editar-->
        <div [ngClass]="{'registro-block' : editNomSelected, 'registro-none' : !editNomSelected}" style="margin-top: 32px;">
            <h1>Editar Nómina</h1>
            <div>
                <p>Seleccione el campo que desea modificar</p>
            </div>
            <div>
                <button 
                    type="button" 
                    class="btn btn-primary" 
                    (click)="activarUpdateNombre()">Nombre</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateSalario()"
                    style="margin: 10px;">Salario</button>
                
                <form id="editar" *ngFor="let nomina of editNomina; index as i">
                    <div *ngIf="campoUpdateNombre" >
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="exampleFormControlInput1" 
                            placeholder="Nombre" 
                            value="{{nomina.nombre}}"
                            (keyup)="capturaNombreNomina($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(nomina)">Guardar</button>
                    </div>
                    <div *ngIf="campoUpdateSalario" >
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Salario</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="exampleFormControlInput1" 
                            placeholder="Salario" 
                            value="{{nomina.totalPagar}}"
                            (keyup)="capturaSalario($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(nomina)">Guardar</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>
    <!--Buscar y Eliminar-->
    <div [ngClass]="{'registro-block' : selected == 2, 'registro-none' : selected != 2}">
        <h1>Buscar Nómina</h1>
        <div>
            <p>Seleccione como desea buscar la Nómina</p>
            <button 
                type="button" 
                class="btn btn-primary" 
                (click)="activarBuscarPorNombre(true, false)">Por nombre</button>
        </div>
        <form id="buscar" *ngIf="ocultarBuscarPorNombre">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Por nombre</label>
                <input 
                type="text" 
                class="form-control" 
                id="doc" 
                placeholder="Nombre" 
                (keyup)="capturaNombreNomina($event)">
                <button type="button" class="btn btn-primary" (click)="buscadorNomina()">Buscar</button>
            </div>   
        </form> 
        <section *ngIf="tableDeleteNomina" style="margin-top: 30px;">
            <table class="table col-sm-8">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Salario</th>
                </tr>
                </thead>
                <tbody *ngFor="let nomina of nominaEncontrada index as i">
                    <tr>
                        <td>{{nomina.nombre}}</td>
                        <td>{{nomina.totalPagar}}</td>
                    <button type="button" class="btn btn-danger" (click)="eliminarNomina(nomina)">Eliminar</button>
                  </tr>
                </tbody>
              </table>
        </section>
    </div>
</div>
<app-footer></app-footer>
