.header-solutions{
    background-color: #0a8489;
    padding-bottom: 135px;
    position: relative;
    justify-content: space-between;
    border-bottom: 2px solid #fff;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header-solutions img{
    margin: 15px 150px;
}

.header-solutions .container-img{
    position: absolute;
}

.header-solutions .container-tttle{
    position: relative;
}

.header-solutions .container-tttle h1{
    color: #fff;
}

.header-solutions .butto-header{
    text-align: center;
    margin-top: 36px;
    margin-left: 702px;
    position: absolute;
}

a:hover {
    color: black;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.header-solutions .buttons-header{
    text-align: center;
    margin-top: 36px;
    margin-left: 1022px;
    position: absolute;
}

.header-solutions .button-header{
    text-align: center;
    margin-top: 36px;
    margin-left: 398px;
    position: absolute;
}
