<section class="header-solutions nav-header">
    <div class="container-header">
        <div class="container-img">
            <img src="../../../assets/img/solutionsLogo.png" width="145px" height="145px">
        </div>
        <div class="container-tttle">
            <h1 class="text-center">SOLUTIONS CCC</h1>
           
        </div>
        <div class="col-sm-2 button-header">
            <button type="button" class="btn btn-light" >
                <a href="https://caracevedo777.wixsite.com/website-2" Target="_blank">Acerca de nosotros</a></button>
        </div>
        <div class="col-sm-2 buttons-header">
            <button type="button" class="btn btn-light" >
               <a href="/quejas" Target="_blank"> Quejas y reclamos</a>
            </button>
        </div>
        <div class="col-sm-2 butto-header">
            <button type="button" class="btn btn-light">
             <a href="https://es-la.facebook.com/" Target="_blank">Síguenos</a>
            </button>
        </div>
       
    </div>
</section>
