<app-header></app-header>
<div class="col-sm-3 container-menu">
    <div class="col-category">
        <div class="atras-content">
            <a href="/home">
                <img src="../../../assets/img/flecha-atras.png" alt=""  style="width: 70px;">
                Atras 
             </a>
        </div>
        <div class="category-faq-menu" *ngFor="let menu of optionMenu; let indice = index">
            <div class="container-accordion" (click)="selectionSection(indice)">
                <div class="faq-menu-items">
                     <p>{{menu.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-8 container-empleados">
    <div class="text-center title-section" *ngIf="checkTitle && !loaderSpinner">
        <h1>Inventario</h1>
    </div>
    <div class="container-spinner" *ngIf="loaderSpinner">
        <div class="spinner"></div>
    </div>
    
   <div [ngClass]="{'registro-block' : selected == 0, 'registro-none' : selected != 0}">
        <h1>Registro de inventario</h1>
        <form id="registrar">
            <div>
                <label for="start">Fecha de inventario</label>
                <input  
                    (change)="capturaFechaPedido($event)"
                    type="date" 
                    id="start" 
                    name="trip-start"
                    value=""
                    min="2022-01-01" max="2023-12-31">
            </div>
        </form>
        <div >
            <button type="button" class="btn btn-primary" (click)="agregateProducto()">Añadir Producto</button>
        </div>
        <div>
            <section *ngIf="tableListProductos" style="margin-top: 30px;">
                <table class="table col-sm-8">
                    <thead>
                      <tr>
                        <th scope="col">Nombre producto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Fecha compra</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let producto of listaProducto; index as i">
                      <tr>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td>{{producto.fechaCompra}}</td>
                        <button type="button"class="btn btn-secondary" (click)="addProducto(producto)">Añadir</button>
                      </tr>
                    </tbody>
                  </table>
            </section>
        </div>
        <div *ngIf="botonRegistro">
            <button type="button" class="btn btn-primary" (click)="saveInventario()">Registrar</button>
        </div>
   </div>

   <div [ngClass]="{'registro-block' : selected == 1, 'registro-none' : selected != 1}">
        <h1>Listar inventario</h1>
        <button type="button" class="btn btn-primary" (click)="listaInventario()">Listar</button>
        <div class="container-spinner" *ngIf="loaderSpinnerList">
            <div class="spinner"></div>
        </div>

        <section *ngIf="tableListInventario" style="margin-top: 30px;">
            <table class="table col-sm-8" *ngFor="let inventario of listaAllInventarios; index as i">
                <thead>
                <tr>
                    <th scope="col">Ud a realizado inventario el:</th>
                    <th>{{inventario.fechaInventario}}</th>
                    <th>  </th>
                    <button 
                        type="button" 
                        class="btn btn-warning" 
                        style="margin: 5px;" 
                        (click)="verDetalle(inventario.fechaInventario)">Ver datelle</button>
                    <button 
                        type="button" 
                        class="btn btn-danger"  
                        style="margin: 5px;" 
                        (click)="eliminarInventario(inventario)">Eliminar</button>
                </tr>
                </thead>
            </table>
        </section>

        <section style="margin-top: 30px;" *ngIf="tableDetalleInventario">
            <table class="table col-sm-8" *ngFor="let select of inventarioSelected[0].producto; index as i">
                <thead>
                    <tr>
                        <th scope="col">Nombre del producto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Fecha de compra</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                <tr>
                    <td>{{select.nombre}}</td>
                    <td>{{select.descripcion}}</td>
                    <td>{{select.fechaCompra}}</td>
                    <td>{{select.cantidad}}</td>
                </tr>
                </thead>
            </table>
        </section>
    </div>
    
   <div [ngClass]="{'registro-block' : selected == 2, 'registro-none' : selected != 2}">
        <h1>Buscar inventario</h1>
        <div>
            <p>Seleccione la fecha que sea buscar</p>
            <input  
                (change)="capturaFechaInicio($event)"
                type="date" 
                id="start" 
                name="trip-start"
                value=""
                min="1990-01-01" max="2023-12-31"
            >
            <div class="container-spinner" *ngIf="loaderSpinnerList">
                <div class="spinner"></div>
            </div>
            <section  style="margin-top: 30px;" *ngIf="listadetalleBuscado">
                <table class="table col-sm-8" *ngFor="let encontrado of elementEncontrado; index as i">
                    <p>Fecha {{encontrado.fechaInventario}}</p>
                    <div *ngFor="let prodencontrado of encontrado.producto; index as i">
                        <thead>
                            <tr>
                                <th scope="col">Nombre del producto</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Fecha de compra</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                            <tr>
                                <td>{{prodencontrado.nombre}}</td>
                                <td>{{prodencontrado.descripcion}}</td>
                                <td>{{prodencontrado.fechaCompra}}</td>
                                <td>{{prodencontrado.cantidad}}</td>
                            </tr>
                        </thead>
                    </div>
                </table>
            </section>
        </div>
    </div>
</div>
<app-footer></app-footer>
