.loggin-form {
    margin-left: 502px;
    margin-right: 502px;
    margin-top: 264px;
    margin-bottom: 40px;
}

.loggin-form .container-form{
    text-align: center;
}

.boton-loggin{
    margin-bottom: 112px;
}

a {
    color: white;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
}

a:hover {
    text-decoration: none;
}