<app-header></app-header>
<section class="loggin-form">

  <div class="container-form" *ngIf="formLoggin">
    <form class="container-loggin" id="loggin">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
        <input 
            type="text" 
            class="form-control" 
            id="nombreEmpleado" 
            placeholder="Usuario"
            (keyup)="capturaUsuario($event)">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
        <input 
            type="password" 
            class="form-control" 
            id="nombreEmpleado" 
            placeholder="Password"
            (keyup)="capturaPassword($event)">
      </div>
    </form>
    <div>
      <button type="button" class="btn btn-primary" (click)="validatePassword()" style="margin-top: 88px;">Ingresar</button>
    </div>
  </div>
  
  <div class="container-form" *ngIf="cambioPassword">
    <form class="container-loggin" id="loggin">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nueva contraseña</label>
        <input 
            type="password" 
            class="form-control" 
            id="nombreEmpleado" 
            placeholder="New password"
            >
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Confrirmar contraseña</label>
        <input 
            type="password" 
            class="form-control" 
            id="nombreEmpleado" 
            placeholder="confirm password"
            (keyup)="capturaNewPassword($event)">
      </div>
    </form>
    <div>
      <button type="button" class="btn btn-primary" (click)="changePassword()">Cambiar</button>
    </div>
  </div>

</section>
<app-footer></app-footer>

