<app-header></app-header>
<div class="col-sm-3 container-menu">
    <div class="col-category">
        <div class="atras-content">
            <a href="/home">
                <img src="../../../assets/img/flecha-atras.png" alt=""  style="width: 70px;">
                Atras 
             </a>
        </div>
        <div class="category-faq-menu" *ngFor="let menu of optionMenu; let indice = index">
            <div class="container-accordion" (click)="selectionSection(indice)">
                <div class="faq-menu-items">
                     <p>{{menu.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-8 container-empleados">
    <div class="text-center title-section" *ngIf="checkTitle && !loaderSpinner">
        <h1>Producto</h1>
    </div>
    <div class="container-spinner" *ngIf="loaderSpinner">
        <div class="spinner"></div>
    </div>
    
   <div [ngClass]="{'registro-block' : selected == 0, 'registro-none' : selected != 0}">
        <h1>Registro de productos</h1>
        <form id="registrar">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre del producto</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="docEmpleado" 
                    placeholder="Nombre"
                    (keyup)="capturaNombreProducto($event)">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Descripcion del producto</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="cargoEmpleado" 
                    placeholder="Descripcion"
                    (keyup)="capturaDescripcion($event)">
            </div>
            <div>
                <label for="start">Fecha de compra</label>
                <input 
                    type="date" 
                    id="start" 
                    name="trip-start"
                    value=""
                    min="1990-01-01" max="2023-12-31"
                    (change)="capturaFechacompra($event)">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Cantidad del producto</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="correoEmpleado" 
                    placeholder="Cantidad"
                    (keyup)="capturaCantidad($event)">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Valor total de la compra</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="exampleFormControlInput1" 
                    placeholder="Valor compra"
                    (keyup)="capturaValorTotalPedido($event)"
                    >
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Valor del costo por unidad</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="exampleFormControlInput1" 
                    placeholder="Valor Unidad Costo"
                    (keyup)="capturaValorPorUnidad($event)"
                    >
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Valor venta unitaria</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="exampleFormControlInput1" 
                    placeholder="Valor Venta"
                    (keyup)="capturaValorVentaUnidad($event)"
                    >
            </div>
        </form>
        <button type="button" class="btn btn-primary" (click)="saveProducto()">Registrar</button>
    </div>
        
    <!--Listar-->
    <div [ngClass]="{'registro-block' : selected == 1, 'registro-none' : selected != 1}">
        <h1>Listar Productos</h1>
        <button type="button" class="btn btn-primary" (click)="listaProductoM()">Listar</button>
        <div class="container-spinner" *ngIf="loaderSpinnerList">
            <div class="spinner"></div>
        </div>
        <section *ngIf="tableListProducto" style="margin-top: 30px;">
            <table class="table col-sm-12">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha de compra</th>
                    <th scope="col">Valor Producto</th>
                    <th scope="col">Valor Unidad</th>
                    <th scope="col">Valor Unidad Venta</th>
                </tr>
                </thead>
                <tbody *ngFor="let producto of listaProducto; index as i">
                <tr>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>{{producto.fechaCompra}}</td>
                    <td>{{producto.vTotalProducto}}</td>
                    <td>{{producto.vUnidadCosto}}</td>
                    <td>{{producto.vUnidadVenta}}</td>
                    <button 
                        type="button" 
                        class="btn btn-warning" 
                        (click)="updateProducto(producto.idProducto, producto)">Editar</button>
                </tr>
                </tbody>
            </table>
        </section>
        <!--Update-->
        <div [ngClass]="{'registro-block' : editProSelected, 'registro-none' : !editProSelected}" 
            style="margin-top: 32px;">
            <h1>Editar Empleado</h1>
            <div>
                <p>Seleccione el campo que desea modificar</p>
            </div>
            <div>
                <button 
                    type="button" 
                    class="btn btn-primary" 
                    (click)="activarUpdateNombre()">Nombre</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateDescripcion()"
                    style="margin: 10px;">Descripcion</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateCantidad()"
                    style="margin: 10px;">Cantidad</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateFechaCompra()"
                    style="margin: 10px;">Fecha Compra</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateVTotalProducto()"
                    style="margin: 10px;">Valor Total Producto</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdatevUnidadCosto()"
                    style="margin: 10px;">Valor Unidad Costo</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdatevUnidadVenta()"
                    style="margin: 10px;">Valor Unidad Venta</button>
                <form id="editar" *ngFor="let producto of editProducto; index as i">
                    <div *ngIf="campoUpdateNombre" >
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="exampleFormControlInput1" 
                            placeholder="Nombre" 
                            value="{{producto.nombre}}"
                            (keyup)="capturaNombreProducto($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(producto)">Guardar</button>
                    </div>
                    <div *ngIf="campoUpdateDescripcion" >
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Descripcion</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="exampleFormControlInput1" 
                            placeholder="Descripcion" 
                            value="{{producto.descripcion}}"
                            (keyup)="capturaDescripcion($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(producto)">Guardar</button>
                    </div>
                    <div *ngIf="campoUpdateFechaCompra">
                        <label for="start">Fecha de contrato</label>
                            <input  
                            (change)="capturaFechacompra($event)"
                            type="date" 
                            id="start" 
                            name="trip-start"
                            value="{{producto.fechaCompra}}"
                            min="1990-01-01" max="2022-12-01">
                            <button type="button" class="btn btn-success" (click)="guardarEditado(producto)">Guardar</button>
                    </div>
                    
                    <div *ngIf="campoUpdateCantidad" >
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Cantidad</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="exampleFormControlInput1" 
                                placeholder="Camtidad"
                                value="{{producto.cantidad}}"
                                (keyup)="capturaCantidad($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(producto)">Guardar</button>
                    </div>
                    <div *ngIf="campoUpdateVTotalProducto" >
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Valor Unidad</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="exampleFormControlInput1" 
                                placeholder="Valor Total Pedido"
                                value="{{producto.valorTotalPedido}}"
                                (keyup)="capturaValorTotalPedido($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(producto)">Guardar</button>
                    </div>
                    <div *ngIf="campoUpdatevUnidadCosto">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Valor Total Producto</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="exampleFormControlInput1" 
                                placeholder="Valor Total Costo"
                                value="{{producto.vUnidadCosto}}"
                                (keyup)="capturaValorPorUnidad($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(producto)">Guardar</button>
                    </div>
                    <div *ngIf="campoUpdatevUnidadVenta">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Valor Total Venta</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="exampleFormControlInput1" 
                                placeholder="Valor Total Venta"
                                value="{{producto.vUnidadVenta}}"
                                (keyup)="capturaValorVentaUnidad($event)">
                        </div>
                        <button type="button" class="btn btn-success" (click)="guardarEditado(producto)">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Buscar y Eliminar-->
    <div [ngClass]="{'registro-block' : selected == 2, 'registro-none' : selected != 2}">
        <h1>Buscar Producto</h1>
        <div>
            <p>Seleccione como desea buscar el Producto</p>
            <button 
                type="button" 
                class="btn btn-primary" 
                (click)="activarBuscarPorNombre(true, false)">Por nombre</button>
            <button 
                type="button" 
                class="btn btn-primary botn-name" 
                (click)="activarBuscarPorFechaCompra(false, true)"
                style="margin: 10px;">Por Fecha de Compra</button>
        </div>
        <form id="buscar" *ngIf="ocultarBuscarPorNombre">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Por nombre</label>
                <input 
                type="text" 
                class="form-control" 
                id="doc" 
                placeholder="Nombre" 
                (keyup)="capturaNombreProducto($event)">
                <button type="button" class="btn btn-primary" (click)="buscadorProducto()">Buscar</button>
            </div>   
        </form> 
        <form id="buscar" *ngIf="ocultarBuscarPorFechaCompra">
            <label for="start">Fecha de Compra</label>
                <input  
                    (change)="capturaFechacompra($event)"
                    type="date" 
                    id="start" 
                    name="trip-start"
                    min="1990-01-01" max="2022-12-01">
                <button 
                    type="button" 
                    class="btn btn-primary" 
                    (click)="buscadorProducto()"
                    style="margin: 8px;">Buscar</button>
        </form>
        <section *ngIf="tableDeleteProducto" style="margin-top: 30px;">
            <table class="table col-sm-12">
                <thead>
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha de compra</th>
                    <th scope="col">Valor Producto</th>
                    <th scope="col">Valor Unidad</th>
                    <th scope="col">Valor Unidad Venta</th>
                    </tr>
                </thead>
                <tbody *ngFor="let producto of productoEncontrado; index as i">
                    <tr>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td>{{producto.fechaCompra}}</td>
                        <td>{{producto.vTotalProducto}}</td>
                        <td>{{producto.vUnidadCosto}}</td>
                        <td>{{producto.vUnidadVenta}}</td>
                    </tr>
                </tbody>
                </table>
        </section>
    </div>
</div>
<app-footer></app-footer>
