<app-header></app-header>
<section>
   
    <div class="col-sm-3 container-menu">
        <div class="col-category">
            <div class="atras-content">
                <a href="/home">
                    <img src="../../../assets/img/flecha-atras.png" alt=""  style="width: 70px;">
                    Atras 
                 </a>
            </div>
            <div class="category-faq-menu" *ngFor="let menu of optionMenu; let indice = index">
                <div class="container-accordion" (click)="selectionSection(indice)">
                    <div class="faq-menu-items">
                         <p>{{menu.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 container-empleados">
        <div class="text-center title-section" *ngIf="checkTitle && !loaderSpinner">
            <h1>Cliente</h1>
        </div>
        <div class="container-spinner" *ngIf="loaderSpinner">
            <div class="spinner"></div>
        </div>
        
        <!--Html registro-->
       <div [ngClass]="{'registro-block' : selected == 0 , 'registro-none' : selected != 0}" id="form">
            <h1>Registro de clientes</h1>
            <form id="registro">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre del cliente</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    id="nombre" 
                    placeholder="Nombre" 
                    (keyup)="capturaNombre($event)">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Apellido del cliente</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    id="apellido" 
                    placeholder="Apellido" 
                    (keyup)="capturaApellido($event)">
                </div>
                <div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Tipo de identificacion</label>
                        <select 
                            class="custom-select" 
                            id="inputGroupSelect01" 
                            name="tipoDocumento" 
                            (change)="capturaTipoDoc($event)">
                            <option selected ></option>
                            <option >C.C</option>
                            <option >C.E</option>
                            <option >RUT</option>
                            <option >NIT</option>
                          </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Numero de documento</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="documento" 
                        placeholder="Documento"  
                        (keyup)="capturaNumeroDoc($event)">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Numero de telefono</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="telefono" 
                        placeholder="Telefono" 
                        (keyup)="capturaTelefono($event)">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Direccion del cliente</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="direccion" 
                        placeholder="Direccion" 
                        (keyup)="capturaDireccion($event)">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo del clliente</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="correo" 
                        placeholder="Correo" 
                        (keyup)="capturaCorreo($event)">
                </div>
            </form>
            <button type="button" class="btn btn-primary" (click)="savePasajero()">Registrar</button>
       </div>


        <!--Html listar y editar--> 
       <div [ngClass]="{'registro-block' : selected == 1, 'registro-none' : selected != 1}">
        <h1>Listar clientes</h1>
        <button type="button" class="btn btn-primary" (click)="listaClientes()">Listar</button>
        <div class="container-spinner" *ngIf="loaderSpinnerList">
            <div class="spinner"></div>
        </div>
        <section *ngIf="tableListClient" style="margin-top: 30px;">
            <table class="table col-sm-8">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Tipo Doumento</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Dirección</th>
                  </tr>
                </thead>
                <tbody *ngFor="let cliente of listaCliente; index as i">
                  <tr>
                    <td>{{cliente.nombres}}</td>
                    <td>{{cliente.apellidos}}</td>
                    <td>{{cliente.tipoDocumento}}</td>
                    <td>{{cliente.numeroDocumento}}</td>
                    <td>{{cliente.numeroTelefono}}</td>
                    <td>{{cliente.correo}}</td>
                    <td>{{cliente.direccion}}</td>
                    <button 
                        type="button" 
                        class="btn btn-warning" 
                        (click)="editarCliente(cliente.numeroDocumento, cliente)">Editar</button>
                  </tr>
                </tbody>
              </table>
        </section>
       
       <div [ngClass]="{'registro-block' : editClienteSelected, 'registro-none' : !editClienteSelected}" 
        style="margin-top: 32px;">
            <h1>Editar cliente</h1>
            <div>
                <p>Seleccione el campo que desea modificar</p>
            </div>
            <div>
                <button 
                    type="button" 
                    class="btn btn-primary" 
                    (click)="activarUpdateNombre()">Nombres</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateApellido()">Apellidos</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateTelefono()">Telefono</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateCorreo()">Correo</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    (click)="activarUpdateDireccion()">Direccion</button>
                <form id="editar" *ngFor="let cliente of clienteEdit; index as i">
                    <div *ngIf="campoUpdateNombre" >
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre del cliente</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="exampleFormControlInput1" 
                            placeholder="Nombre" 
                            value="{{cliente.nombres}}" 
                            (keyup)="capturaNombre($event)">
                        </div>
                        <button 
                            type="button" 
                            class="btn btn-success" 
                            (click)="guardarEditado(cliente)">Guardar</button>
                    </div>
                    <div *ngIf="campoUpdateApellidos">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Apellido del cliente</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="exampleFormControlInput1" 
                                placeholder="Nombre" 
                                value="{{cliente.apellidos}}" 
                                (keyup)="capturaApellido($event)">
                        </div>
                        <button 
                            type="button" 
                            class="btn btn-success" 
                            (click)="guardarEditado(cliente)">Guardar</button>
                    </div>
                    <div *ngIf="campoUpdateTelefono">
                        <div class="mb-3" >
                            <label for="exampleFormControlInput1" class="form-label">Número de telefono</label>
                            <input 
                                type="text"
                                class="form-control" 
                                id="exampleFormControlInput1" 
                                placeholder="Telefono"
                                value="{{cliente.numeroTelefono}}"
                                (keyup)="capturaTelefono($event)">
                        </div>
                        <button 
                            type="button" 
                            class="btn btn-success" 
                            (click)="guardarEditado(cliente)">Guardar</button>
                    </div>
                   <div *ngIf="campoUpdateCorreo">
                    <div class="mb-3" >
                        <label for="exampleFormControlInput1" class="form-label">Correo del cliente</label>
                        <input 
                            type="email" 
                            class="form-control" 
                            id="exampleFormControlInput1" 
                            placeholder="Cargo"
                            value="{{cliente.correo}}"
                            (keyup)="capturaCorreo($event)">
                    </div>
                    <button 
                        type="button" 
                        class="btn btn-success" 
                        (click)="guardarEditado(cliente)">Guardar</button>
                   </div>
                    <div *ngIf="campoUpdateDireccion">
                        <div class="mb-3" >
                            <label for="exampleFormControlInput1" class="form-label">Dirección del cliente</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="exampleFormControlInput1" 
                                placeholder="Correo"
                                value="{{cliente.direccion}}"
                                (keyup)="capturaDireccion($event)">
                        </div>
                        <button 
                            type="button" 
                            class="btn btn-success" 
                            (click)="guardarEditado(cliente)">Guardar</button>
                    </div>
                </form>
            </div>         
       </div>
       </div>

      <!--Html buscar y eliminar--> 
       <div [ngClass]="{'registro-block' : selected == 2, 'registro-none' : selected != 2}">
        <h1>Buscar clientes</h1>
        <div>
            <p>Seleccione como desea buscar el cliente</p>
            <button 
                type="button" 
                class="btn btn-primary" 
                (click)="activarBuscarPordocumento(true, false)">Por numero de documento</button>
            <button 
                type="button" 
                class="btn btn-primary botn-name" 
                (click)="activarBuscarPorNombre(false, true)">Por nombre</button>
        </div>
        <form id="buscar" *ngIf="ocultarBuscarPorDocumento">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Numero de documento</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="doc" 
                    placeholder="Documento" 
                    (keyup)="capturaNumeroDoc($event)">
                <button type="button" class="btn btn-primary" (click)="buscadorCliente()">Buscar</button>
            </div>   
        </form> 
        <form id="buscar" *ngIf="ocultarBuscarPorNombre">
            <div class="mb-3">  
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="doc" 
                    placeholder="Nombre" 
                    (keyup)="capturaNombre($event)">
                <button type="button" class="btn btn-primary" (click)="buscadorCliente()">Buscar</button>
            </div>
        </form>
        <section *ngIf="tableDeleteClient" style="margin-top: 30px;">
            <table class="table col-sm-8">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Tipo Doumento</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Dirección</th>
                  </tr>
                </thead>
                <tbody *ngFor="let cliente of clienteEncontrado; index as i">
                  <tr>
                    <td>{{cliente.nombres}}</td>
                    <td>{{cliente.apellidos}}</td>
                    <td>{{cliente.tipoDocumento}}</td>
                    <td>{{cliente.numeroDocumento}}</td>
                    <td>{{cliente.numeroTelefono}}</td>
                    <td>{{cliente.correo}}</td>
                    <td>{{cliente.direccion}}</td>
                    <button 
                        type="button" 
                        class="btn btn-danger" 
                        (click)="eliminarCliente(cliente)">Eliminar</button>
                  </tr>
                </tbody>
              </table>
        </section>
       </div>
    </div>     
</section>
<app-footer></app-footer>


