.container-menu{
    margin-top: 250px;
    margin-left: -25px;
    margin-bottom: 209px;
    display: inline-block;
    vertical-align: top;
}

.botn-name{
    margin-left: 20px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

a:hover {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.atras-content{
    margin-top: -37px;
    margin-left: 23px;
    margin-bottom: 22px;
}

.category-faq-menu .container-accordion {
    padding: 0px 10px;
    text-align: left;
    margin-right: 68px;
}

.category-faq-menu .faq-menu-items {
    background: #3c3c3c;
    padding: 15px 10px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.category-faq-menu .faq-menu-items p {
    color: #fff;
}

.category-faq-menu .faq-menu-items:hover {
    background: #0a8489;
}

.container-empleados{
    display: inline-block;
    width: 75%;
    text-align: left;
    margin-top: 241px;
    margin-bottom: 50px;
    right: 78px;
}

.title-section{
    opacity: 0.2;
}

.spinner {
    border: 10px solid rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
    opacity: 1.4;
}
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.registro-none{
    display: none;
}

.registro-block{
    display: block;
}

.container-spinner{
    margin-left: 525px;
    margin-top: 80px;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.isestado {
    background-color: red;
    font-size: 21px;
    text-align: center;
    color: azure;
}

input,
label {
    margin: .4rem 0;
}

th{
    padding-right: 60px;
}

.nm-tipo{
    padding-right: 114px;
    text-align: center;
}
.nm-name{
    padding-right: 65px;
    text-align: center;
}
.nm-docum{
    padding-right: 181px;
    text-align: center;
}