<app-header></app-header>
<div class="col-sm-3 container-menu">
    <div class="col-category">
        <div class="atras-content">
            <a href="/home">
                <img src="../../../assets/img/flecha-atras.png" alt=""  style="width: 70px;">
                Atras 
             </a>
        </div>
        <div class="category-faq-menu" *ngFor="let menu of optionMenu; let indice = index">
            <div class="container-accordion" (click)="selectionSection(indice)">
                <div class="faq-menu-items">
                     <p>{{menu.name}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-8 container-empleados">
    <div class="text-center title-section" *ngIf="checkTitle && !loaderSpinner">
        <h1>Pedidos pendientes</h1>
    </div>
    <div class="container-spinner" *ngIf="loaderSpinner">
        <div class="spinner"></div>
    </div>

    <div [ngClass]="{'registro-block' : selected == 0, 'registro-none' : selected != 0}">
        <h1>Lista pedidos pendientes</h1>
        <button type="button" class="btn btn-primary" (click)="listaPedidos()">Listar</button>
        <div class="container-spinner" *ngIf="loaderSpinnerList">
            <div class="spinner"></div>
        </div>
        <section *ngIf="tableListPedido" style="margin-top: 30px;">
            <table class="table col-sm-8">
                <thead>
                <tr>
                    <th scope="col">Fecha pedido</th>
                    <th scope="col">Fecha entrega</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Valor Unidad</th>
                    <th scope="col">Valor total</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Cliente</th>
                </tr>
                </thead>
                <tbody *ngFor="let pedido of listaPedido; index as i">
                <tr>
                    <td>{{pedido.fechaPedido}}</td>
                    <td>{{pedido.fechaEntrega}}</td>
                    <td>{{pedido.descripcion}}</td>
                    <td>{{pedido.cantidad}}</td>
                    <td>{{pedido.valorUnidad}}</td>
                    <td>{{pedido.valorTotal}}</td>
                    <td class="isestado" *ngIf="!pedido.estado">Pendiente</td>
                    <td>{{pedido.cliente[0].nombres}}</td>
                    <button type="button" class="btn btn-secondary" (click)="selectPedido(pedido)">Seleccionar</button>
                </tr>
                </tbody>
            </table>
        </section>
        <section *ngIf="tableListPedidoSelect" style="margin-top: 30px;">
            <table class="table col-sm-8">
                <thead>
                <tr>
                    <th scope="col">Fecha pedido</th>
                    <th scope="col">Fecha entrega</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Valor Unidad</th>
                    <th scope="col">Valor total</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Cliente</th>
                </tr>
                </thead>
                <tbody *ngFor="let pedido of pedidoSelect; index as i">
                <tr>
                    <td>{{pedido.fechaPedido}}</td>
                    <td>{{pedido.fechaEntrega}}</td>
                    <td>{{pedido.descripcion}}</td>
                    <td>{{pedido.cantidad}}</td>
                    <td>{{pedido.valorUnidad}}</td>
                    <td>{{pedido.valorTotal}}</td>
                    <td class="isestado" *ngIf="!pedido.estado">Pendiente</td>
                    <td>{{pedido.cliente[0].nombres}}</td>
                    <button type="button" class="btn btn-success" (click)="addProductos()">Agregar productos</button>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div *ngIf="tableCantidad">
        <table class="table col-sm-8">
            <thead>
            <tr>
                <th scope="col">Nombre producto</th>
                <th scope="col">Cantidad</th>
            </tr>
            </thead>
            <tbody *ngFor="let producto of nameProductos">
            <tr>
                <td>{{producto.nombre}}</td>
                <td> 
                    <form id="registro">
                        <input 
                        type="text" 
                        class="form-control" 
                        id="apellido" 
                        placeholder="Cantidad" 
                        (keyup)="capturaCantidad($event)">
                    </form>
                    <button type="button" class="btn btn-secondary" (click)="saveCantidad(producto)">Añadir</button>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success" (click)="saveCantidadPedido()">Guardar</button>
    </div>
</div>
<app-footer></app-footer>
