<app-header></app-header>
<section>
    <div class="col-sm-3 container-menu">
        <div class="col-category">
            <div class="atras-content">
                <a href="/home">
                    <img src="../../../assets/img/flecha-atras.png" alt=""  style="width: 70px;">
                    Atras 
                 </a>
            </div>
            <div class="category-faq-menu" *ngFor="let menu of optionMenu; let indice = index">
                <div class="container-accordion" (click)="selectionSection(indice)">
                    <div class="faq-menu-items">
                         <p>{{menu.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 container-empleados">
        <div class="text-center title-section" *ngIf="checkTitle && !loaderSpinner">
            <h1>Empleado</h1>
        </div>
        <div class="container-spinner" *ngIf="loaderSpinner">
            <div class="spinner"></div>
        </div>
        

       <div [ngClass]="{'registro-block' : selected == 0, 'registro-none' : selected != 0}">
            <h1>Registro de empleados</h1>
            <form id="registrar">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre del empleado</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="nombreEmpleado" 
                        placeholder="Nombre"
                        (keyup)="capturaNombreEmpleado($event)">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Apellido del empleado</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="apellidoEmpleado" 
                        placeholder="Apellido"
                        (keyup)="capturaApellidoEmpleado($event)">
                </div>
                <div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Tipo Documento</label>
                        <select class="custom-select" id="inputGroupSelect01" name="tipoDocumento" (change)="capturaTipoDocumento($event)">
                            <option selected ></option>
                                <option >C.C</option>
                                <option >C.E</option>
                                <option >RUT</option>
                                <option >NIT</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Número de documento</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="docEmpleado" 
                        placeholder="Documento"
                        (keyup)="capturaDocumentoEmpleado($event)">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Cargo del empleado</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="cargoEmpleado" 
                        placeholder="Cargo"
                        (keyup)="capturaCargoEmpleado($event)">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo del empleado</label>
                    <input 
                        type="email" 
                        class="form-control" 
                        id="correoEmpleado" 
                        placeholder="correo"
                        (keyup)="capturaCorreoEmpleado($event)">
                </div>
                <div>
                    <label for="start">Fecha de contrato</label>
                    <input  
                        (change)="capturaFechaContrato($event)"
                        type="date" 
                        id="start" 
                        name="trip-start"
                        value=""
                        min="1990-01-01" max="2024-12-01">
                </div>
                <div>
                    <label for="start">Fecha de nacimiento</label>
                    <input 
                        type="date" 
                        id="start" 
                        name="trip-start"
                        value=""
                        min="1960-01-01" max="2024-12-31"
                        (change)="capturaFechaNacimiento($event)">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Número de teléfono</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="exampleFormControlInput1" 
                        placeholder="Telefono"
                        (keyup)="capturaTelefonoEmpleado($event)">
                </div>
                <div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">RH</label>
                        <select class="custom-select" id="inputGroupSelect01" name="tipoDocumento" (change)="capturarhEmp($event)">
                            <option selected></option>
                            <option >O+</option>
                            <option >O-</option>
                            <option >A+</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Estado</label>
                <select class="custom-select" id="inputGroupSelect01" name="tipoDocumento" (change)="capturaTipoEstado($event)">
                    <option selected ></option>
                        <option >Activo</option>
                        <option >Despedido</option>
                </select>
            </div>
            <div *ngIf="addBotonNomina">
                <button type="button" class="btn btn-primary" (click)="agregateNomina()">Añadir nomina</button>
            </div>
            <div>
                <section *ngIf="tableListNomina" style="margin-top: 30px;">
                    <table class="table col-sm-8">
                        <thead>
                          <tr>
                            <th scope="col">Nomina</th>
                            <th scope="col">Salario</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let nomina of listaNomina; index as i">
                          <tr>
                            <td>{{nomina.nombre}}</td>
                            <td>{{nomina.totalPagar}}</td>
                            <button type="button"class="btn btn-secondary" (click)="addNomina(nomina)">Añadir</button>
                          </tr>
                        </tbody>
                      </table>
                </section>
            </div>
            <div *ngIf="botonRegistro">
                <button type="button" class="btn btn-primary" (click)="saveEmpleado()">Registrar</button>
            </div>
       </div>

        <div [ngClass]="{'registro-block' : selected == 1, 'registro-none' : selected != 1}">
            <h1>Listar Empleados</h1>
            <button type="button" class="btn btn-primary" (click)="listaEmpleado()">Listar</button>
            <div class="container-spinner" *ngIf="loaderSpinnerList">
                <div class="spinner"></div>
            </div>
            <section *ngIf="tableListNomina" style="margin-top: 30px;">
                <table class="table col-sm-8">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Tipo Doumento</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Fecha contrato</th>
                        <th scope="col">Fecha nacimiento</th>
                        <th scope="col">RH</th>
                        <th scope="col">Salario</th>
                        <th scope="col">Estado</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let empleado of listaEmpleadoNomina; index as i">
                    <tr>
                        <td>{{empleado.nombres}}</td>
                        <td>{{empleado.apellidos}}</td>
                        <td>{{empleado.tipoDocumento}}</td>
                        <td>{{empleado.numeroDocumento}}</td>
                        <td>{{empleado.numeroTelefono}}</td>
                        <td>{{empleado.email}}</td>
                        <td>{{empleado.cargo}}</td>
                        <td>{{empleado.fechaContrato}}</td>
                        <td>{{empleado.fechaNacimineto}}</td>
                        <td>{{empleado.rh}}</td>
                        <td>{{empleado.nomina[0].totalPagar}}</td>
                        <td *ngIf="empleado.estado">Activo</td>
                        <td *ngIf="!empleado.estado">Despedido</td>
                        <button 
                            type="button" 
                            class="btn btn-warning" 
                            (click)="updateEmpleado(empleado.numeroDocumento, empleado)">Editar</button>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section>
                <div [ngClass]="{'registro-block' : editEmpSelected, 'registro-none' : !editEmpSelected}" 
                    style="margin-top: 32px;">
                    <h1>Editar Empleado</h1>
                    <div>
                        <p>Seleccione el campo que desea modificar</p>
                    </div>
                    <div>
                        <button 
                            type="button" 
                            class="btn btn-primary" 
                            style="margin: 5px;"
                            (click)="activarUpdateNombre()">Nombres</button>
                        <button 
                            type="button" 
                            class="btn btn-primary botn-name" 
                            style="margin: 5px;"
                            (click)="activarUpdateApellido()">Apellidos</button>
                        <button 
                            type="button" 
                            class="btn btn-primary botn-name" 
                            style="margin: 5px;"
                            (click)="activarUpdateTelefono()">Teléfono</button>
                        <button 
                            type="button" 
                            class="btn btn-primary botn-name" 
                            style="margin: 5px;"
                            (click)="activarUpdateCorreo()">Correo</button>
                        <button 
                            type="button" 
                            class="btn btn-primary botn-name" 
                            style="margin: 5px;"
                            (click)="activarUpdateRh()">Rh</button>
                        <button 
                            type="button" 
                            class="btn btn-primary botn-name" 
                            style="margin: 5px;"
                            (click)="activarUpdateCargo()">Cargo</button>
                        <button 
                            type="button" 
                            class="btn btn-primary botn-name" 
                            style="margin: 5px;"
                            (click)="activarUpdateFechaContrato()">Fecha Contrato</button>
                        <button 
                        type="button" 
                        class="btn btn-primary botn-name" 
                        style="margin: 5px;"
                        (click)="activarUpdateFechaNacimiento()">Fecha Nacimiento</button>
                        <!--Estado-->
                        <button type="button" class="btn btn-primary botn-name" (click)="activarUpdateEstado()">Estado</button>
                        <form id="editar" *ngFor="let empleado of editempleado; index as i">
                            <div *ngIf="campoUpdateNombre" >
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="exampleFormControlInput1" 
                                    placeholder="Nombre" 
                                    value="{{empleado.nombres}}"
                                    (keyup)="capturaNombreEmpleado($event)">
                                </div>
                                <button type="button" class="btn btn-success" (click)="guardarEditado(empleado)">Guardar</button>
                            </div>
                            <div *ngIf="campoUpdateApellidos" >
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                                    <input 
                                    type="text" 
                                    class="form-control" 
                                    id="exampleFormControlInput1" 
                                    placeholder="apellidos" 
                                    value="{{empleado.apellidos}}"
                                    (keyup)="capturaApellidoEmpleado($event)">
                                </div>
                                <button type="button" class="btn btn-success" (click)="guardarEditado(empleado)">Guardar</button>
                            </div>
                            <div *ngIf="campoUpdatefechaContrato">
                                <label for="start">Fecha de contrato</label>
                                    <input  
                                    (change)="capturaFechaContrato($event)"
                                    type="date" 
                                    id="start" 
                                    name="trip-start"
                                    value="{{empleado.fechaContrato}}"
                                    min="1990-01-01" max="2022-12-01">
                                    <button type="button" class="btn btn-success" (click)="guardarEditado(empleado)">Guardar</button>
                            </div>
                            
                            <div *ngIf="campoUpdatefechaNacimiento">
                                <label for="start">Fecha de nacimiento</label>
                                <input 
                                    type="date" 
                                    id="start" 
                                    name="trip-start"
                                    value="{{empleado.fechaNacimineto}}"
                                    min="1960-01-01" max="2010-12-31"
                                    (change)="capturaFechaNacimiento($event)">
                                    <button type="button" class="btn btn-success" (click)="guardarEditado(empleado)">Guardar</button>
                            </div>
                            <div *ngIf="campoUpdateTelefono" >
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Teléfono</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="exampleFormControlInput1" 
                                        placeholder="Telefono"
                                        value="{{empleado.numeroTelefono}}"
                                        (keyup)="capturaTelefonoEmpleado($event)">
                                </div>
                                <button type="button" class="btn btn-success" (click)="guardarEditado(empleado)">Guardar</button>
                            </div>
                            <div *ngIf="campoUpdateCorreo" >
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                    <input 
                                        type="email" 
                                        class="form-control" 
                                        id="correoEmpleado" 
                                        placeholder="correo"
                                        value="{{empleado.email}}"
                                        (keyup)="capturaCorreoEmpleado($event)">
                                </div>
                                <button type="button" class="btn btn-success" (click)="guardarEditado(empleado)">Guardar</button>
                            </div>
                            <div *ngIf="campoUpdateRh" >
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">RH</label>
                                    <select class="custom-select" id="inputGroupSelect01" name="tipoDocumento" (change)="capturarhEmp($event)">
                                        <option selected></option>
                                        <option >O+</option>
                                        <option >O-</option>
                                        <option >A+</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-success" (click)="guardarEditado(empleado)">Guardar</button>
                            </div>
                            <div *ngIf="campoUpdateCargo" >
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Cargo</label>
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="cargoEmpleado" 
                                        placeholder="Cargo"
                                        value="{{empleado.cargo}}"
                                        (keyup)="capturaCargoEmpleado($event)">
                                </div>
                                <button type="button" class="btn btn-success" (click)="guardarEditado(empleado)">Guardar</button>
                            </div>
                            <div *ngIf="campoUpdateEstado" >
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Estado</label>
                                    <select class="custom-select" id="inputGroupSelect01" name="tipoDocumento" (change)="capturaTipoEstado($event)">
                                        <option selected></option>
                                        <option >Activo</option>
                                        <option >Despedido</option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-success" (click)="guardarEditado(empleado)">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            
        </div>
        <!--Buscar y Eliminar-->
        <div [ngClass]="{'registro-block' : selected == 2, 'registro-none' : selected != 2}">
            <h1>Buscar Empleado</h1>
            <div>
                <p>Seleccione como desea buscar el Empleado</p>
                <button 
                    type="button" 
                    class="btn btn-primary" 
                    style="margin: 5px;"
                    (click)="activarBuscarPordocumento(true, false)">Por número de documento</button>
                <button 
                    type="button" 
                    class="btn btn-primary botn-name" 
                    style="margin: 5px;"
                    (click)="activarBuscarPorNombre(false, true)">Por nombre</button>
        </div>
        <form id="buscar" *ngIf="ocultarBuscarPorDocumento">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Número de documento</label>
                <input 
                type="text" 
                class="form-control" 
                id="doc" 
                placeholder="Documento" 
                (keyup)="capturaDocumentoEmpleado($event)">
                <button type="button" class="btn btn-primary" (click)="buscadorEmpleado()">Buscar</button>
            </div>   
        </form> 
        <form id="buscar" *ngIf="ocultarBuscarPorNombre">
            <div class="mb-3">  
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input 
                type="text" 
                class="form-control" 
                id="doc" 
                placeholder="Nombre" 
                (keyup)="capturaNombreEmpleado($event)">
                <button type="button" class="btn btn-primary" (click)="buscadorEmpleado()">Buscar</button>
            </div>
        </form>
        <section *ngIf="tableDeleteEmpleado" style="margin-top: 30px;">
            <table class="table col-sm-8">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Tipo Doumento</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Cargo</th>
                  </tr>
                </thead>
                <tbody *ngFor="let empleado of empleadoEncontrado; index as i">
                  <tr>
                    <td>{{empleado.nombres}}</td>
                    <td>{{empleado.apellidos}}</td>
                    <td>{{empleado.tipoDocumento}}</td>
                    <td>{{empleado.numeroDocumento}}</td>
                    <td>{{empleado.numeroTelefono}}</td>
                    <td>{{empleado.email}}</td>
                    <td>{{empleado.cargo}}</td>
                    <button type="button" class="btn btn-danger" (click)="eliminarEmpleado(empleado)">Eliminar</button>
                  </tr>
                </tbody>
              </table>
        </section>
    </div>
</div>
</section>

<app-footer></app-footer>

