.landing-page{
    background-color: #0a8489;
    margin-top: 185px;
}

.landing-page img{
    margin: 50px 130px;
    height: 600px;
}

.landing-page .text-landig {
    margin-top: 50px;
}

.landing-page .text-landig h1{
    text-align: center;
    color: #fff;
    font-size: 60px;
    margin-bottom: 15px;
}

.landing-page .text-landig p{
    color: #fff;
    font-size: 18px;
    margin: 55px;
    text-align: center;
}

.landing-page .text-landig a{
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    text-decoration: none;
    margin: 20px;
}

.landing-page .text-landig a:hover{
    text-align: center;
    color: #0a8489;
    font-size: 20px;
    margin-bottom: 15px;
    text-decoration: none;
    margin: 20px;
}

.landing-page .text-landig .button-landing {
    border: 1px solid #fff;
    padding: 5px;
    background-color: #0a8489; 
    border-radius: 50px; 
    margin: 49px 390px;
}

.landing-page .text-landig .button-landing:hover {
    border: 1px solid #fff;
    padding: 5px;
    background-color: #fff; 
    border-radius: 50px; 
    margin: 49px 390px;
}


@media (max-width: 1600px ) {
    .landing-page img{
        margin: 30px 100px;
        height: 500px;
    }
}
@media (max-width: 1400px ) {
    .landing-page img{
        margin-top: 50px;
        margin-right: 80px;
        height: 500px;
        margin-bottom: 50px ;
    }
}

