<app-header></app-header>
<section class="col-sm-8 contaniner" style="margin: 219px 299px;">
    <h1 style="text-align: center;">SolutionsCCC quejas y reclamos</h1>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombres</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Déjanos tu petición</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</section>

