.home-page {
    text-align: center;
}
.container-home-one {
    margin-top: 290px;
    margin-bottom: 20px;
}

.container-home-one a, .container-home-two a{
    margin: 37px;
    border: 1px black;
    padding: 62px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 15px 15px 15px #666;
}

.container-home-two{
    margin-top: 130px;
    margin-bottom: 100px;
}

.container-home-one a:hover, .container-home-two a:hover {
    color:  0 15px 30px rgba(49, 138, 172, 1);
    box-shadow: 0 15px 30px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

.span-pedido {
    position: absolute;
    margin-top: 75px;
    margin-left: -72px;
}

.span-detail {
    position: absolute;
    margin-top: 74px;
    margin-left: -111px;
}

.span-productos {
    position: absolute;
    margin-top: 75px;
    margin-left: -78px;
}

.inventario-detail{
    position: absolute;
    margin-top: 74px;
    margin-left: -77px;
}

.span-cliente {
    position: absolute;
    margin-top: 66px;
    margin-left: -66px;
}

.span-empleado {
    position: absolute;
    margin-top: 66px;
    margin-left: -78px;
}

.span-nomina {
    position: absolute;
    margin-top: 66px;
    margin-left: -66px;
}

a {
    color: #00bac6;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.buttons-header{
    position: fixed;
    margin-top: -198px;
    z-index: 4;
    margin-left: 1493px;
}
