<app-header></app-header>
<div class="buttons-header">
    <button type="button" class="btn btn-warning" (click)="cerrarSection()">Cerrar sesión</button>
</div>
<section class="home-page">
    <div class="container-home-one">
        <ul>
            <a href="/pedido">
                <img src="../../../assets/img/icono-pedidos.png" alt="" width="65px">
                <span class="span-pedido">Pedidos</span> 
            </a>
            <a href="/producto">
                <img src="../../../assets/img/icono-poductos.png" alt="" width="65px">
                <span class="span-productos">Productos</span> 
            </a>
            <a href="/productopedido">
                <img src="../../../assets/img/detalle-predido.png" alt="" width="80px">
               <span class="span-detail">pedido pendiente</span> 
            </a>
            <a href="/inventario">
                <img src="../../../assets/img/inventario.png" alt="" width="65px">
               <span class="inventario-detail">inventario</span> 
            </a>
        </ul>
    </div>
    
    <div class="container-home-two">
        <ul>
            <a href="/clientes">
                <img src="../../../assets/img/icono-cliente.png" alt="" width="65px">
                <span class="span-cliente">Cliente</span> 
            </a>
            <a href="/empleados">
                <img src="../../../assets/img/icono-empleado.png" alt="" width="65px">
                <span class="span-empleado">Empleado</span> 
            </a>
            <a href="/nomina">
                <img src="../../../assets/img/nomina.png" alt="" width="65px">
                <span class="span-nomina">Nomina</span>      
            </a>
            <a href="/reportes">
                <img src="../../../assets/img/reportes.png" alt="" width="70px">
                <span class="span-nomina">Reportes</span>      
            </a>
        </ul>
    </div>    
</section>
<app-footer></app-footer>

